.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1;
    margin-top: 60px; /* Ajusta este valor según la altura del header */
}

.sidebar {
    width: 353px;
    background-color: #072030;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 60px; /* Ajusta este valor según la altura del header */
    left: 0;
    min-height: 100vh;
}
    .sidebar nav ul {
        list-style: none;
        padding: 1rem;
    }
        .sidebar nav ul li {
            margin: 1rem 1rem;
        }

            .sidebar nav ul li a {
                text-decoration: none;
                color: aliceblue;
            }
.main-content {
    flex: 1;
    margin-left: 250px; /* Ajusta este valor según el ancho de la sidebar */
    padding: 2rem;
}
