.headreTop {
    background-color: #072030;
    margin: 0;
    padding: 5px;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
.login-container {
    display: flex;
    float:left;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
}